@font-face {
  font-family: "LXGW Bright Regular";
  src: url("/fonts/LXGWBright-Regular.ttf") format("truetype");
  /* src: url("/fonts/LXGWBright-Regular.woff") format("woff");
  src: url("/fonts/LXGWBright-Regular.woff2") format("woff2"); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
